.background {
  viewport-fill: #000000;
}

#hourLbl {
  x: 15;
  y: 100%-48;
  fill: white;
}

#dayLbl {
  fill: white;
  x: 15;
  y: 100%-15;
}

#steps {
  fill: white;
  x: 100%-15;
  y: 100%-15;
}

#batteryLevel {
  fill: white;
  x: 100%-15;
  y: 100%-45;
}